<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EPICOM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,700italic,900,900italic,400italic,100italic,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/jqueryui.css">
</head>
<body>
	<div class="nav-user">
		<div class="wrap-main">
			<div class="f-right col_50">
				<ul class="f-right">
					<li class="d-inblock"><a href="chamados-main.html"><i class="ico icon-voice"></i><span class="notification">2</span></a></li>
					<li class="d-inblock">
						<ul class="dropitmenu">
							<li>
								&bull; <a href="#" class="user-menu">Sérgio Andrade</a>
								<ul>
						            <li><a href="usuarios-main.html">Usuários</a></li>
						            <li><a href="login.html">Sair</a></li>
						        </ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="wrap-main">
		<div class="nav-main">
			<h1><a href="#">EPICOM</a></h1>
			<span class="t-up">Menu</span>
			<ul>
				<li class="menu-vendas"><a href="vendas.html"><i class="ico icon-vendas"></i>Vendas</a></li>
				<li class="menu-pedidos"><a href="pedidos-view.html"><i class="ico icon-pedidos"></i>Pedidos</a></li>
				<li class="menu-produtos">
					<a href="produtos.html"><i class="ico icon-produtos"></i>Produtos</a>
					<ul>
						<li><a href="produtos-categorias.html">Categorias</a></li>
						<li><a href="produtos-categoria-fornecedor.html">Categoria do Fornecedor</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="wrap-content">
			<div class="row">
				<div class="col_100">
					<button class="f-right ico icon-print"></button>
					<ul class="dropitmenu f-right downselect">
						<li>
							<a href="#" class="ico icon-download"></a>
							<ul>
					            <li><a href="#">Excel</a></li>
					            <li><a href="#">PDF</a></li>
					        </ul>
				        </li>
					</ul>
					<a href="chamados-main.html" class="breadcrumb">Chamados</a>
				</div>
			</div>
			<div class="row">
				<div class="col_50 f-left">
					<label class="f-700 d-block m-b5">Detalhe do chamado</label>
					<div class="box-white ">
						<ul class="call-details">
							<li>
								<label>ID</label>
								<span>10</span>
							</li>
							<li>
								<label>Titulo</label>
								<span>Tranferencia</span>
							</li>
							<li>
								<label>Assunto</label>
								<span>Financeiro</span>
							</li>
							<li>
								<label>Data</label>
								<span>30 jun, 2015</span>
							</li>
							<li>
								<label>Status</label>
								<span class="open">Aberto</span>
							</li>
							<li>
								<label>Mensagem</label>
								<span>Lorem ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib</span>
							</li>
							<li>
								<label>Mensagem</label>
								<textarea class="input"></textarea>
							</li>
							<li>
								<button class="btn red">Enviar</button>
								<button class="btn cancel">Cancelar</button>
							</li>
						</ul>
					</div>
				</div>
				<div class="col_50 f-left">
					<label class="f-700 d-block m-b5">Histórico - usuários Casa Show</label>
					<div class="box-white ">
						<ul class="calls-history">
							<li>
								<a href="chamados-lista.html">Carga de produtos</a>
								<time>30 jun, 2015</time>
								<span>Lorem ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib</span>
							</li>
							<li class="new">
								<a href="#">Carga de produtos</a>
								<time>30 jun, 2015</time>
								<span>Lorem ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib</span>
							</li>
							<li>
								<a href="#">Carga de produtos</a>
								<time>30 jun, 2015</time>
								<span>Lorem ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib</span>
							</li>
							<li>
								<a href="#">Carga de produtos</a>
								<time>30 jun, 2015</time>
								<span>Lorem ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib</span>
							</li>
							<li>
								<a href="#">Carga de produtos</a>
								<time>30 jun, 2015</time>
								<span>Lorem ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib</span>
							</li>
							<li>
								<a href="#">Carga de produtos</a>
								<time>30 jun, 2015</time>
								<span>Lorem ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib</span>
							</li>
							<li>
								<a href="#">Carga de produtos</a>
								<time>30 jun, 2015</time>
								<span>Lorem ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib ipsum dolor sit amet consecuter lib</span>
							</li>
						</ul>
						<div class="pag t-red t-700">
							1-3 de 10 itens
							<span class="ico icon-prev"></span>
							<span class="ico icon-next"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
   	<script src="js/dropit.js"></script>
   	<script src="js/main.js"></script>
</body>
</html>