<div class="login">
<div data-ng-controller="LoginController as vm">
<form name="loginFrm" class="box-login" novalidate data-ng-submit="vm.authenticate()">
    <h1>EPICOM</h1>
    <ul>
        <li class="emailwrap" data-ng-class="{'error': loginFrm.username.$dirty && (loginFrm.username.$error.required || loginFrm.username.$error.email)}">
                <span class="error-message" data-ng-show="loginFrm.username.$error.required && loginFrm.username.$dirty">
                    Preencha esse campo
                </span>
                <span class="error-message" data-ng-show="loginFrm.username.$error.email && loginFrm.username.$dirty">
                    E-mail inválido
                </span>
            <label class="d-block m-b5" for="username">E-mail</label>
            <input type="email" class="input col_100" data-ng-model="vm.username" required placeholder="Email" name="username" />
        </li>
        <li class="passwrap" data-ng-class="{'error':loginFrm.password.$error.required && loginFrm.password.$dirty}">
            <span class="error-message">Digite a senha</span>
            <label class="d-block m-b5" for="senha">Senha</label>
            <input type="password" class="input col_100" data-ng-model="vm.password" required placeholder="Senha" name="senha" />
        </li>
        <li id="loginmessage" class="feedback">{{error}}</li>
        <li>
            <input type="submit" class="btn red col_100 t-center t-up" value="Entrar"
                   data-ng-disabled="loginFrm.username.$error.email || loginFrm.username.$error.required || loginFrm.password.$error.required"/>
        </li>
        <li class="t-center">
            <a href="mailto:suporte@epicom.com.br">Não consegue acessar sua conta?</a>
        </li>
    </ul>
</form>
</div>
</div>
