* {
	padding:0;
	margin:0;
	outline:0;
	border:0;
	list-style:none;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	text-decoration:none;
}
html {
	font-size: 100%;
}
body {
	font-family:'Lato', Arial, sans-serif;
	font-weight:400;
	font-size:0.87rem;
	color:#565353;
	background-color:#ebedeb;
}
/*STRUCTURE*/
.clear:after, .row:after, .calls-history li:after, .call-details li:after {content:"";display: block;clear: both;}
div[class*="col_"] {padding-right:20px;margin-bottom:15px;}
.col_25 {width:25%;}
.col_50 {width:50%;}
.col_70 {width:70%;}
.col_100 {width:100%;}
.wrap-main {max-width:1670px;}
.wrap-content {margin-left:250px;}
.nav-main {position:fixed;width:230px;top:0;bottom:0;left:0;background-color:#202020;color:#fff;}
.nav-main span {border-left:3px solid #202020;font-weight:700;padding:0 20px 10px;display:block;}
.nav-main li * {vertical-align:middle;}
.nav-main li a {color:#999;border-left:3px solid #202020;font-weight:700;padding:15px 20px 13px;display:block;line-height:18px;}
.nav-main li a:hover, .nav-main li a.active {color:#fff;border-left:3px solid #cc3923;background-color:#161616;}
.nav-main li ul {display:none;background-color:#161616;}
.nav-main li ul li a {padding-left:50px;border-left:3px solid #161616;}
.menu-produtos > a {background-image:url('../img/sprite.png');background-repeat:no-repeat;background-position:right -2262px;}
.menu-produtos.active a, .menu-produtos > a:hover, .menu-produtos > a.active {background-position:right -1795px;background-color:#161616;}
.menu-produtos:hover ul, .menu-produtos.active ul {display:block;}
.nav-user {background-color:#fff;height:70px;margin-bottom:35px;}
.nav-user a {color:#999;}
.nav-user .dropit-submenu a {color:#535353;}
.box-white {background-color:#fff;border-radius:4px;}
.box-white.dash {height:340px;padding:70px 0;position:relative;}
.box-white.dash hr {height:1px;background-color:#d3d3d3;margin:15px auto;width:25%;}
.box-white.dash.single span {position:absolute;left:0;right:0;top:50%;margin-top:-30px;}

/*POSITION*/
.p-rel {position:relative;}
.p-abs {position:absolute;}
.p-fix {position:fixed;}

/*FLOAT*/
.f-right {float:right;}
.f-left {float:left;}

/*DISPLAY*/
.d-inblock {display:inline-block;}
.d-block {display:block;}
.d-inline {display:inline;}
.d-table {display:table;}
.d-none {display:none;}

/*MARGIN*/
.m-auto {margin:auto;}
.m-b5 {margin-bottom:5px;}
.m-b10 {margin-bottom:10px;}
.m-b15 {margin-bottom:15px;}
.m-r20 {margin-right:20px;}
.m-l10 {margin-left:10px;}

/*FONT*/
.t-300 {font-weight:300;}
.t-400, h2 {font-weight:400;}
.t-700 {font-weight:700;}
.t-900 {font-weight:900;}
.t-up{text-transform:uppercase;}
.t-it{font-style:italic;}
.t-center {text-align:center;}
.t-left {text-align:left;}
.t-right {text-align:right;}
.t-14 {font-size:0.87rem;}
.t-20 {font-size:1.25rem;line-height:20px;}
.t-30, h2 {font-size:1.87rem;line-height:30px;}
.t-60 {font-size:3.75rem;line-height:60px;margin-bottom:10px;}
.t-gray, h2 {color:#999;}
.t-red {color:#e73d23;}
.l-n45 {line-height: 45px;}

/*GLOBAL-ELEMENTS*/
.box-login {width:300px;background-color:#fff;margin:auto;height:350px;position:absolute;top:175px;left:50%;margin-left:-150px;}
.box-login h1 {display:block;height:70px;text-indent:-99999px;background:url('../img/logo-login.png') #2a2929 no-repeat center 22px;}
.box-login li {padding:0 30px 15px;}
.box-login li input, .box-login li label, .box-login li a {width:100%;}
.box-login li a {color:#3498db;}
body.login {background:url('../img/login-bg.png') #ebedeb no-repeat center 145px;}
h1 {background-color:#2a2929;margin-bottom:35px;}
h1 a {display:block;height:70px;text-indent:-99999px;background:url('../img/logo-main.png') no-repeat center 22px;}
h2 {display:inline-block;margin-right:20px;}
.input {min-width:180px;border:1px solid #ccc;font-family:'Lato', Arial, sans-serif;font-weight:400;font-size:0.87rem;color:#999;border-radius:2px;padding:7px 10px;}
.input:hover, .input:focus {border:1px solid #999;}
.btn {color:#fff;font-family:'Lato', Arial, sans-serif;font-size:0.87rem;font-weight:700;border-radius:2px;display:inline-block;padding:8px 20px;cursor:pointer}
.btn.red {background-color:#e63b22;border:1px solid #b73c2a;}
.btn.red:hover {-webkit-box-shadow: 0px 1px 0px 0px rgba(183,60,42,1);-moz-box-shadow: 0px 1px 0px 0px rgba(183,60,42,1);box-shadow: 0px 1px 0px 0px rgba(183,60,42,1);}
.btn.red:active {background-color:#c52d16;-webkit-box-shadow: inset 0px 1px 0px 0px rgba(142,30,13,1);-moz-box-shadow: inset 0px 1px 0px 0px rgba(142,30,13,1);box-shadow: inset 0px 1px 0px 0px rgba(142,30,13,1);}
.btn.cancel {background-color:transparent;border:0;color: #999;}
.btn.upload {background:url('../img/sprite.png') #666 no-repeat 20px -2788px;border:1px solid #444444;color:#fff;width:100%;}
.btn.upload:hover {}
.btn.upload:active {}
.dash-list-item li {border-bottom:1px solid #999;padding:15px 30px;line-height:22px;}
.pag {text-align:right;padding:15px 15px 14px!important;}
.pag * {vertical-align: middle;}
.dash-list-item div {padding:23px 0 24px;}
.dash-list-item div * {vertical-align:middle;cursor:pointer;}
.input.search {background:url('../img/sprite.png') #fff no-repeat right -2337px;}
.nav-user ul.f-right {padding-top: 20px;}
.nav-user ul.f-right span {margin-left:10px;}
.nav-user ul.f-right li.d-inblock {height:27px; vertical-align: middle;line-height: 25px;position:relative;}
.notification {position:absolute;background-color: #e63b22;border:1px solid #fff;color:#fff;font-size: 11px;font-weight: 600;border-radius:50%;height:16px;width:16px;text-align:center;top: -9px;left: 3px;line-height: 13px;}
.user-menu {display:inline-block;padding:0 30px 0 10px;background:url('../img/sprite.png') no-repeat right -1976px;cursor:pointer;}
select {height:33px;}
textarea {resize:none;}
#datepicker {width:230px;}
.table-pagination .input {min-width:70px;}
.hr {display:block;text-align:center;margin:15px 0;position:relative;background-color:#cfcfcf;height:1px;}
.hr small {display:inline-block;background-color:#fff;position:absolute;padding:5px;left:50%;top:-15px;margin-left:-12px;}
.list-categorias li * {display: inline-block;vertical-align:middle;}
.list-categorias span {overflow: hidden;text-overflow: ellipsis;width: 195px;white-space: nowrap;}
.list-categorias .remove {color:#fff!important;background-color:#999999;border-radius:50%;width:17px;height:17px;text-align:center;font-size: 11px!important;line-height: 18px;font-weight: 700!important;cursor:pointer;}
.loading {position:relative;border:1px solid #444444;color:#fff;width:100%;display:block;text-align:center;font-weight:700;border-radius:2px;padding:8px 20px;}
.loading .load-bar {background-color: #444;position:absolute;top:0;bottom:0;left:0;z-index: 1;}
.loading label {position:absolute;z-index:2;top:10px;left:10px;}
li.error {position:relative;}
.error-message {display:none;position: absolute;color:#fff;background-color:#e73c50;right:30px;top:-12px;padding:8px 10px;border-radius:2px;font-size: 12px;font-weight: 700;}
.error .error-message {display:inline-block;}
.error-message:before {content:"";position:absolute;display:block;background:url('../img/sprite.png') no-repeat right -2735px;width:12px;height:6px;bottom:-3px;right:15px;}
.error .input {background:url('../img/sprite.png') no-repeat right -2852px;border:1px solid #999;}

/*ICONS*/
.ico {display:inline-block;margin-right:20px;}
label .ico {margin-right:0;}
.pag .ico {margin:0 0 0 10px;}
i.ico {margin-right:10px;}
button.ico {background-color:transparent;cursor:pointer;}
.ico:before, a.breadcrumb:before {content:"";display:inline-block;background-image:url('../img/sprite.png');background-repeat:no-repeat;}
.icon-vendas:before {background-position:0 0;width:24px;height:24px;opacity:0.6;}
.icon-pedidos:before {background-position:0 -74px;width:20px;height:24px;opacity:0.6;}
.icon-produtos:before {background-position:0 -148px;width:25px;height:25px;opacity:0.6;}
a:hover .ico:before, a.active .ico:before {opacity: 1;}
.icon-print:before {background-position:0 -296px;width:24px;height:23px;}
.icon-download:before {background-position:0 -368px;width:16px;height:24px;}
.t-red .icon-download:before {background-position:0 -442px;}
.icon-truck:before {background-position:0 -1585px;width:38px;height:31px;}
.icon-money:before {background-position:0 -1749px;width:39px;height:25px;}
.icon-approve:before {background-position:0 -1662px;width:33px;height:37px;}
.icon-tag:before {background-position:0 -1504px;width:36px;height:31px;}
.icon-request:before {background-position:0 -1243px;width:31px;height:36px;}
.icon-about:before {background-position:0 -1329px;width:38px;height:34px;}
.icon-money:before {background-position:0 -1749px;width:39px;height:25px;}
.icon-rocket:before {background-position:0 -1413px;width:25px;height:41px;}
.icon-cube:before {background-position:0 -1155px;width:40px;height:38px;}
.icon-edit:before {background-position:0 -517px;width:23px;height:23px;}
.icon-delete:before {background-position:0 -590px;width:20px;height:22px;}
.icon-voice:before {background-position:0 -222px;width:24px;height:24px;}
table.ranking tbody tr:first-child td:first-child span {text-indent:-99999px;display:inline-block;background:url('../img/sprite.png') no-repeat 0 -1082px;width: 22px;height: 24px;}
table.ranking tbody tr:nth-child(2) td:first-child span {text-indent:-99999px;display:inline-block;background:url('../img/sprite.png') no-repeat 0 -1009px;width: 22px;height: 24px;}
table.ranking tbody tr:nth-child(3) td:first-child span {text-indent:-99999px;display:inline-block;background:url('../img/sprite.png') no-repeat 0 -936px;width: 22px;height: 24px;}
a.breadcrumb {color:#999;}
a.breadcrumb:hover {text-decoration:underline;}
a.breadcrumb:before {background-position:0 -2043px;width:15px;height:6px;margin-right:5px;}
.icon-prev:before {background-position:0 -2158px;width:9px;height:16px;cursor:pointer;}
.icon-next:before {background-position:right -2223px;width:9px;height:16px;cursor:pointer;}

/*TABLE*/
table {width:100%;}
th {padding:20px 1% 20px 2%;text-align:left;text-transform:uppercase;color:#999;}
td {border-top:1px solid #cfcfcf;padding:15px 0 15px 2%;text-align:left;}
th span, td span {white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block;width:99%;}
.dash span table {width:60%;margin:auto;}
.dash span table td {border-top:0;padding:0;}
.dash span table tr td:nth-child(2) {text-align:right}
.table-requests td, .table-requests tr.canceled td td {border:0;}
.table-requests tr.canceled td {border-top:1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf;background-color: #f5f5f5;}
.table-requests .ico {margin-right:0;}
.table-requests td {padding:20px 0 20px 2%;}
.table-requests td td {padding:0 0 5px;}
.table-requests label, .call-details span.open, .call-details span.closed, span.open, span.closed {color:#fff;border-radius: 2px;padding:2px 5px;display:inline-block;width:auto;}
.table-requests .pending label {background-color:#f39c12;}
.table-requests .confirmed label, span.closed {background-color:#2ecc71;}
.table-requests .canceled label, span.open {background-color:#e73d23;}
.table-requests .icon-truck:before { background-size: cover;background-position: 0 -1205px;}
.table-requests .icon-money:before { background-size: cover;background-position: 0 -1360px;}
.table-category td span {display:inline;}
.table-category td {border:0;font-weight:600;width:40%}
.table-category tr td:first-child, .table-category tr td:last-child {width:10%;}
.table-category tr:nth-child(odd) td {background-color: #f5f5f5;border-top:1px solid #cccccc;border-bottom: 1px solid #cccccc;}
.table-pagination * {display:inline-block;font-weight:600;}
.table-pagination a {color:#565353;}
.table-pagination li a {padding:2px 5px;border-top:2px solid #ebedeb;border-radius:2px;}
.table-pagination li a:hover, .table-pagination li a.active {color:#fff;background-color: #e73d23;border-top:2px solid #e73d23;}
.table-pagination li a:active {color:#fff;background-color: #c52d16;border-top:2px solid #8e1e0d;}
.table-category.partners td {width:45%;padding: 15px 1% 15px 2%;position: relative;}
.table-category.partners tr td:last-child {width:45%;}
.table-category.partners td a.t-gray {color:#535353;}
.table-category.partners tr.new td:nth-child(2):before {content:"";display:inline-block;border-radius:50%;width:7px;height:7px;background-color:#e73d23;position:absolute;top:20px;left:12px;}
.table-category.users td {width:auto;}
.table-category.users tr td:first-child, .table-category tr td:last-child {width:10%;}

.calls-history li, .call-details li {border-bottom:1px solid #ccc;padding:15px;position:relative;}
.call-details label {display:block;float:left;width:30%;text-transform: uppercase;color: #999;font-weight: 700;padding-right: 10px;}
.call-details span {display:block;float:left;width:70%;color: #565353;font-weight:700;}
.call-details textarea {float:left;width:60%;height: 120px;}
.calls-history li {padding-left:30px;}
.calls-history li a {color:#535353;font-weight:700;display:block;margin-bottom:5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 70%;}
.calls-history li a:hover {text-decoration: underline;}
.calls-history li span {color:#999;display:block;}
.calls-history li time {color:#535353;font-weight:700;position:absolute;right:15px;top: 15px;}
.calls-history li.new:before {content:"";display:inline-block;border-radius:50%;width:7px;height:7px;background-color:#e73d23;position:absolute;top:20px;left:12px;}

/*DIALOG*/
.ui-dialog .ui-dialog-content, .ui-dialog {padding:0!important;}
.ui-dialog .ui-widget-header {background: #fff;padding:15px!important;border:0;border-bottom:1px solid #cdcdcd;text-transform: uppercase;text-align: center;}
.dialog-row {padding:15px;}
.dialog-footer {padding:15px;border-top:1px solid #cdcdcd;}
.ui-dialog-titlebar-close {background:none!important;border:0!important;width:auto!important;margin:0!important;padding:0!important;height:auto!important;right:15px!important;top:10px!important;}
.ui-dialog-titlebar-close span {display: none!important;}
.ui-dialog-titlebar-close:before {content:"x";display:block;font-weight: 300;font-size: 17px;}
.dialog-footer button.red {color:#fff!important;}

/*UI-ELEMENTS
.ui-widget, .ui-widget * {font-family:'Lato', Arial, sans-serif!important;font-weight:400!important;font-size:14px!important;color:#565353!important;}*/
.ui-selectmenu-button, .ui-selectmenu-button.ui-state-focus {border:1px solid #ccc!important;background:#fff!important;font-size:14px!important;}
.ui-selectmenu-menu {-webkit-box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.27);-moz-box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.27);box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.27);}
.ui-state-focus {background: #e9ebeb!important;border:0!important;color:#535353!important;margin:0!important;}
.t-right .ui-selectmenu-button {float:right;}
.ui-datepicker-header.ui-widget-header {border:0;background:#fff;text-transform:uppercase;}
.ui-datepicker-header.ui-widget-header .ui-icon {display:none;}
.ui-datepicker-header.ui-widget-header .ui-datepicker-next:before {cursor:pointer;content:"";display:inline-block;width:25px;height:25px;background:url('../img/sprite.png') #fff no-repeat right -2402px;}
.ui-datepicker-header.ui-widget-header .ui-datepicker-prev:before {cursor:pointer;content:"";display:inline-block;width:25px;height:25px;background:url('../img/sprite.png') #fff no-repeat left -2402px;}
.ui-datepicker-header.ui-widget-header .ui-datepicker-next:hover, .ui-datepicker-header.ui-widget-header .ui-datepicker-prev:hover {background: none;border: 0;}
.ui-datepicker-calendar a {border:0!important;background: #fff!important;text-align:center!important;}
.ui-datepicker td a {color:#565353;}
.ui-datepicker-calendar a:hover {border:0!important;background: #e73d23!important;color:#fff!important;}
.ui-widget thead span {font-size: 10px!important;font-weight: 700!important;}
.ui-datepicker-group-last {border-left: 1px solid #e5e5e5;}
.ui-datepicker.ui-datepicker-multi {width: 545px!important;padding-right: 145px;left: auto!important;right: 20px;margin-top: 20px;}
.ui-datepicker-multi .ui-datepicker-buttonpane {background-color: #e73d23;border: 0;position: absolute;top: -10px;right: 0px;width: 145px;bottom: 0;padding:10px 15px!important;}
.ui-widget .ui-datepicker-current {font-size:11px;float: none!important;color: #fff!important;opacity: 1!important;background: #ce351e!important;border: 0!important;width: 100%!important;text-align: left!important;margin: 0 0 5px 0!important;}
.ui-widget .ui-datepicker-current:hover {background: #982b1a!important;}
.ui-datepicker-close {font-size:11px;color:#fff!important;background: #565353!important;border:0!important;display:inline-block;}
.ui-datepicker-clear {width:100%;background: transparent;color:#fff;font-size:11px;border:0;display:inline-block;}
.ui-priority-secondary  {display:none!important;}
.ui-priority-primary {float:left!important;}
.ui-datepicker:before {content:"";display:block;position: absolute;top:-10px;right: 100px;background:url('../img/sprite.png') no-repeat -31px -2530px;width: 19px;height: 10px;}
.ui-datepicker {-webkit-box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.27);-moz-box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.27);box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.27);}
.ui-tooltip {background:#2f2c2d!important;box-shadow:0!important;border:0!important;border-radius:3px!important;width:180px!important;}
.ui-tooltip:before {content: "";display: block;width: 19px;height: 10px;background:url('../img/sprite.png') no-repeat 0 -2735px;position: absolute;top: -9px;left: 20px;}
.ui-tooltip, .ui-tooltip * {color:#fff!important;font-size:11px!important;}
.ui-widget .t-700 {font-weight:700!important;}


@media screen and (max-width: 1500px) {
	.col_25 {width:33.3%;}
}

@media screen and (max-width: 1320px) {
	.wrap-main {max-width:1000px;width:1000px;}
	.col_25 {width:50%;}
	.table-requests td {width:25%;overflow:hidden;padding:20px 2% 20px 2%;}
	.table-requests td span {white-space: normal;text-overflow: ellipsis;overflow: initial;width: auto;}
	.table-requests td td {padding:0 2% 5px;}
	.table-category td {width:35%;}
	.table-category tr td:first-child, .table-category tr td:last-child {width:15%;}
}

@media screen and (max-width: 1000px) {
}
.dropitmenu {display:block!important;}
.dropit {
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {position: absolute;top: 100%;left: 0;z-index: 1000;display: none;min-width: 150px;list-style: none;padding: 0;margin: 0;background-color: #fff;border-radius: 3px;-webkit-box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.27);-moz-box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.27);box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.27);}
.nav-user .dropit .dropit-submenu {padding:5px 10px;left: initial;right: -5px;top: 150%;border:1px solid #ccc;}
.nav-user .dropit .dropit-submenu:before {content:"";display:block;position: absolute;top:-10px;right: 5px;background:url('../img/sprite.png') no-repeat 0 -2530px;width: 19px;height: 10px}
.nav-user .dropit .dropit-submenu li {padding:5px 10px;background:url('../img/sprite.png') no-repeat -45px -2458px;}
.nav-user .dropit .dropit-submenu li:first-child {border-bottom: 1px solid #e7e7e7;}
.dropit .dropit-open .dropit-submenu { display: block; }
.dropselect.dropit .dropit-submenu {padding: 10px 10px 0 10px;width: 200px;}
.dropselect.dropit .dropit-submenu li {padding:0 0 10px;}
.dropselect.dropit .dropit-submenu li label {margin-left: 10px;}
.dropselect.dropit .dropit-submenu li a.t-red {padding: 10px 0 0;text-align: center;border-top:1px solid #e7e7e7;margin: 0 -10px;display:block;}
.theds {border:1px solid #ccc;background:url('../img/sprite.png') #fff no-repeat right -1974px;display:inline-block;border-radius:2px;padding:7px 25px 7px 10px;color:#999;}
.downselect.dropit .dropit-submenu:before {content:"";display:block;position: absolute;top:-10px;right: 50%;margin-right:-10px;background:url('../img/sprite.png') no-repeat 0 -2530px;width: 19px;height: 10px}
.downselect.dropit .dropit-submenu li {padding:5px 10px 10px 25px;background-image:url('../img/sprite.png');background-repeat:no-repeat;text-align: left;}
.downselect.dropit .dropit-submenu li:first-child {background-position: 0 -2591px;}
.downselect.dropit .dropit-submenu li:last-child {background-position: 0 -2663px;}
.downselect.dropit .dropit-submenu li a {color:#535353;}
.downselect.dropit .dropit-submenu {width:90px;left:50%;margin-left:-55px;min-width:90px;top:150%;padding:10px 10px 0 10px;}



