<!doctype html>
<html data-ng-app="appEpicom">
<head>
    <meta charset="UTF-8">
    <title>EPICOM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,700italic,900,900italic,400italic,100italic,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/jqueryui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
    <script src="vendor/javascripts/angular-ui-router.js"></script>
    <script src="app/common/dropit.js"></script>
    <script src="app/common/jquery.plugin.js"></script>
    <script src="app/common/jquery.datepick.js"></script>
</head>
<body>
<div>
    <!-- Barra de navegação -->
    <div data-ng-include="'app/topNavBar/topNavBar.tmpl.html'" data-ng-controller="TopNavBarController"></div>
    <!-- Barra de navegação -->
    <!-- Painel principal -->
    <div class="wrap-main">
        <!-- Navegação lateral -->
        <div data-ng-include="'app/sideNavBar/sideNavBar.tmpl.html'"></div>
        <!-- Navegação lateral -->
        <!-- Conteúdo útil -->
        <div class="wrap-content">
          <div data-ng-view></div>
        </div>
        <!-- Conteúdo útil -->
    </div>
    <!-- Painel principal -->
    <script src="app/app.js"></script>
    <script src="app/common/main.js"></script>
    <script src="app/topNavBar/topNavBar.js"></script>
    <script src="app/page.controller.js"></script>
    <script src="app/common/page.controller.js"></script>
</div>
</body>
</html>